* {
  color: #444;
  font-family: sans-serif;
}

h1,
h2,
p {
  font-family: sans-serif;
}

h1 {
  color: blue;
}

.role {
  text-transform: uppercase;
  color: red;
}

#bio {
  font-size: x-large;
  font-weight: bolder;
  font-style: oblique;
}

.main-header {
  background-color: #f5f5f5;
}

article {
  background-color: #f5f5f5;
  /* border: 5px solid teal; */
  border-top: 5px solid teal;
  border-bottom: 5px solid teal;
  margin-right: 260px;
}

a:link {
  text-decoration: none;
  color: #1094ad;
}

a:visited {
  color: red;
}

a:hover {
  color: blue;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  text-decoration: underline orangered;
}
